.header {
    background-color: #ff7597;
}

.main-page {
    background-color: #362b2e;
}

.column {
    border-radius: 10px;
    margin-bottom: 5%;
    background-color: #24181c;
    border: 2px solid black;
}